body{
    font-family:'Arial Narrow Bold', sans-serif;
}

.container{
    width: 600px;
    height: 300px;
    background-color: #1DE592;
    margin: 14px auto;
    border-radius: 10px;
    padding: 100px 20px;
}

.btn{
    padding: 10px 25px;
    border: none;
    border-radius: 25px;
    background-color: white;
    font-weight: bold;
}

input{
    width: 100%;
    padding: 8px;
    margin: 5px;
    border-radius: 3px;
    border: 1px solid grey;
}


.container3{
    margin: 50px auto;
    width: 200px;
    text-align: center;

}
.login-head{
    text-align: center;
}
.welcome{
    text-align: center;
    font-size: small;
}

.login-btn{
    background-color: black;
    color: white;
    padding: 10px 30px;
    border-radius: 20px;
    border: none;
    margin-top: 8px;
}
a{
    color: black;
}







.box-2 {
    width: 400px;
    border: 1px solid lightgray;
    margin: 150px auto;
    border-radius: 12px;
  }
  
  .box-padding {
    padding: 40px;
  }
  
  .title-2 {
    color: #202124;
    font-weight: 500;
    margin: 0;
  }
  
  .para-2 {
    color: #6d7175;
    font-weight: 500;
    margin: 15px 0px;
  }
  
  .profile-img-container{
      padding-top: 25px;
  }
  
  .profile-img {
    width: 25%;
    height: 75px;
    border-radius: 50%;
    padding: 0px 35px;
  }
  
  .inner-box {
    border-top: 1px solid lightgray;
  }
  
  .btn-2 {
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    width: 100%;
    border: none;
    background: #fff;
    color: #1c73e8;
    text-align: left;
    padding: 20px 40px;
    font-weight: 500;
    font-size: 18px;
  }